

.footer-container {
    width: 100%;
    height: 300px;
    background-color: #8aac48;
   
    justify-content: space-around;
    align-items: center;
    bottom: 0; 
}

.footer-text {
    padding-top: 30px;
    
}

.contact-phone {
    font-size: 20px;
    width: 41%;
    line-height: 3.5rem;
    margin-left: 3%;
}

.phone-number {
    font-weight: 600;
  
}