@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

$title-font-size: 60px;

* {
    margin: 0;
    padding: 0;
    
    
}

body {
    font-family: 'Lora', serif;
}

.home-img1 {
    width: 100%;
    height: 500px;
    background-color: aqua;
    object-fit: cover;   
}

.home-img2, .home-img3 {
    width: 273px;
    height: 396px;
    object-fit: cover;
    position: absolute;
}

.home-img2 {
    top: 878px;
    margin-left: 5%;
}

.home-img3 {
    margin-left: 25%;
    margin-top: 516px;
}


.text-img1 {
    color: white;
    position: absolute;
    top: 160px;
    left: 50px;
    font-family: 'Lora', serif;
    font-size: 60px;
    width: 45%;
    text-align: center;
}

// .grid-img {
//     width: 40%;
//     height: 40vh;
//     object-fit: cover;
// }


.main-container {
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    margin-top: -4px;
}


.main-text-title {
    text-align: center;
    font-size: $title-font-size;
    width: 80%;
    font-family: 'Lora', serif;
}


.main-text-paragraph1, .main-text-paragraph2 {
    font-family: 'Lora', serif;
    font-size: 22px;
    width: 86%;
   
}

.main-text-paragraph2 {
    margin-top: 20px;
}

.text-slide2 {
    margin-left: 10%;
    margin-top: 60px;
}
 

.arrow-img {
    position: absolute;
    z-index: 10;
    right: 30%;
    top: 380px;
    height: 160px;
    width: 280px;
    animation: arrow 2.5s ease ;
  
  
}

@keyframes arrow {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}

.slide1-anim {
    width: 40%;
    height: 450px;
    background-color: rgb(255, 226, 163);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: translate-slide1 ease 1s; 
}

@keyframes translate-slide1 {
    0% {
        transform: translateX(600px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
    
}


.slide1-anim-translate {
    transform: translateX(0px);
}


.slide2-anim {
    width: 60%;
    height: 450px;
    background-color: rgb(138, 172, 72);
    position: absolute;
    left: 0;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    animation: translate-slide2 ease 2s; 
  
}

@keyframes translate-slide2 {
    0% {
        transform: translateX(-900px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
    
}

.main-container2 {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    
  
}

.main2-text-title {
    font-family: 'Lora', serif;
    font-size: $title-font-size;
}

.paragraphe-container2 {
    font-family: 'Lora', serif;
    font-size: 20px;
    margin-top: 20px;
}


.main-container3 {
    display: flex;
    margin-top: 340px;
    height: 100vh;
    flex-direction: column;
}

.number1-faded, .number2-faded {
    font-family: 'Lora', serif;
    font-size: 110px;
    opacity: 0.150;
    color: #0a310a;
    width: fit-content;
    /* height: fit-content; */
}



.text-step1 {
    height: fit-content;
    width: fit-content;
    margin-left: 28%;
    margin-top: 135px;
}



.title-overlap {
    font-family: 'Lora', serif;
    font-size: 28px;
    
    height: fit-content;
    margin-top: -74px;
    margin-left: 4%;
    width: 35%;
}

.step-paragraph {
    font-family: 'Lora', serif;
    font-size: 18px;
    width: 44%;
    line-height: 1.6em;
    margin-top: 20px;

}

.step-paragraph2  {
    width: 48%
}

.text-step2 {
    height: fit-content;
    width: fit-content;
    margin-left: 48%;
    margin-top: 96px;
}

